<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h3>Nombre del autor:</h3>
    <p>Juan Antonio Ruiz Pintor</p><br>
    <h3>Fotografía:</h3>
    <img src='/images/foto-autor.jpg' />
  </body>
</html>
